@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');






nav img {
    height: 80px;
    width: 80px;
}

nav li a {
    font-family: 'Mukta', sans-serif;
    font-size: smaller;
}

nav ul.navbar-nav li.nav-item1 {
    padding-left: 35px;
}

.card-group {
    margin-left: 10%;
    margin-right: 5%;
    outline: none;
    margin-trim: 2rem;
}